/* device-card.component.css */

mat-card {
    width: 150px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    background-color: azure;
  }
  
  mat-card img {
    border-radius: 25%;
    max-height: 50px;
    object-fit: contain;
  }
  
  mat-card-content {
    padding: 16px;
  }
  
  mat-card-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
  }
  