<h2 mat-dialog-title>Create Device</h2>
<div mat-dialog-content>
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Type" formControlName="type" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="MaxConsumption" formControlName="maxConsumption" />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="centered-actions">
  <button mat-button mat-dialog-close class="cancel-button">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="createForm.invalid" class="create-button">Create Device</button>
</div>
