<div class="container">
    <mat-form-field class="datepicker">
      <mat-label>Select date:</mat-label>
      <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <div class="chart">
      <div class="lineChart" [chart]="lineChart"></div>
    </div>
</div>

<!-- <table mat-table [dataSource]="measurements" class="mat-elevation-z8">
    
    <ng-container matColumnDef="measurementId">
      <th mat-header-cell *matHeaderCellDef> Measurement ID </th>
      <td mat-cell *matCellDef="let element"> {{element.measurementId}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="deviceId">
      <th mat-header-cell *matHeaderCellDef> Device ID </th>
      <td mat-cell *matCellDef="let element"> {{element.deviceId}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Timestamp </th>
      <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'short'}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="consumption">
      <th mat-header-cell *matHeaderCellDef> Consumption </th>
      <td mat-cell *matCellDef="let element"> {{element.hourlyConsumption}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
  
